/* body{
    background-color: aqua;
} */

/* h2{
    background-color: brown;
    color: aliceblue;
} */


h2,p, h3{
    background-color: brown;
    color: aliceblue;
}

.heading {
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
}


